# Hidden files
.*

# Temporary files
*~
*.tgz
test/coverage

# Git
!.git*

# EditorConfig
!.editorconfig

# IntelliJ Idea
*.iml
*.ipr
*.iws

# npm
node_modules/
npm-debug.log*

#jspm
jspm_packages/

# Distribution
dist/
release/

# Visual Studio
.vs/
